<mat-card-header>
    <mat-toolbar class="toolbar">
        <mat-card-title>Contact Information</mat-card-title>
    </mat-toolbar>
</mat-card-header>
<mat-card-content>
    <div class="container">
        <form [formGroup] = "_contactForm" (submit) = "onSubmit()">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>RegNo</label>
                    <input type="number" formControlName="RegNo" class="form-control">
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <label>Dept</label>
                    <input type="text" formControlName="Dept" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Name</label>
                    <input type="text" formControlName="Name" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>CGPA</label>
                    <input type="number" formControlName="CGPA" class="form-control">
                </div>
            </div>
            <br><br>
            <div class="row">
                <button type="submit" class="btn btn-success"><mat-icon>save</mat-icon></button>
            </div>
        </div>
        </form>
    </div>
</mat-card-content>